.div{
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin:10px;
    
    }
    #mycanvas{
        width: 1000px;
        height: 400px;
        background-color: black;
        border:5px solid orange;
        margin: 50px;
    }